{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start: Slides  -->
    <div class="slides_wrapper">
        <div class="slides__preload_wrapper">
            <div class="spinner"></div>
        </div>
        <div class="slider_home">
            <!-- Start: Slider 1  -->
            <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h2><span>We are  </span>AK Overseas <br> Traders co.</h2>
                                    <p>General import export corporation, striving to serve the people. </p>
                                    <div class="slider_btn">
                                        <a href="#contact" class="slider_btn_one">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1  -->
            <!-- Start: Slider 2  -->
            <div class="single_slider slide_bg_2">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                 <div class="col-xs-12 col-sm-6">
                                    <h2><span>We are  </span>AK Overseas <br> Traders co.</h2>
                                    <p>General import export corporation, striving to serve the people. </p>
                                    <div class="slider_btn">
                                        <a href="#quote" class="slider_btn_one">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 2  -->
        </div>
    </div>
    <!-- End:  Slider
==================================================-->



    <!-- Start: About Section 
==================================================-->
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 about_bottom_warp">
                    <div class="about_list">
                        <div class="base-header">
                            <h3>Welcome to AK Traders</h3>
                        </div>
                        <p>We are a mission-oriented and value-driven, fair and friendly business organization, focusing on truly beneficial products and services, adhering to the ethos of fairness to people, planet and the sectors in which we operate as an explicit policy- level commitment. </p>
                    </div>
                    <div class="row about_list_warp">
                        <div class="col-sm-6 col-xs-12">
                            <!-- about-item -->
                            <div class="about_list">
                                <div class="icon-fea icon_group"></div>
                                <h5>Business Growth</h5>
                                <p class="about_para">A partnership with us is sure to grow your business to new heights.</p>
                            </div>
                            <!-- End: .about-item -->
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <!-- about-item -->
                            <div class="about_list">
                                <div class="icon-fea icon_cog"></div>
                                <h5>Creative Solution</h5>
                                <p class="about_para">We are dedicated to procurring products and devising solutions, you may need for the growth of your business.</p>
                            </div>
                            <!-- End: .about-item -->
                        </div>
                    </div>
                </div>
                <!--End: about_bottom_warp -->
                <div class="col-sm-6">
                    <img src="{% static 'images/about.html' %}" alt="">
                </div>
                <!--End: About Video -->
            </div>
            <!--End: row-->
        </div>
        <!-- End: container-->
    </section>
    <!--  End: About Section
==================================================-->



    <!-- Start: Service Section 
==================================================-->
    <section class="service_section" id="agenda">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3> Our Services</h3>
            </div>
            <!-- End:  heading -->
            <div class="row" id="service">
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_1.jpg' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_easel"></i><h5>Business Growth</h5></a>
                        <p>A partnership with us is sure to grow your business to new heights. </p>
                    </div>
                </div>
                <!--/Item -->
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_2.jpg' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_piechart"></i><h5>Creative Solutions</h5></a>
                        <p>We are dedicated to procurring products and devising solutions, you may need for the growth of your business. </p>
                    </div>
                </div>
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_3.jpg' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_datareport"></i><h5>Customer insights</h5></a>
                        <p>We are always open to insights from our customers as to improve our services and quality of work.</p>
                    </div>
                </div>
                <!--/Item -->
                <!-- End : Tab pane 1 -->
            </div>
            <!---/.row -->
        </div>
        <!--/.container -->
    </section>
    <!-- End: Service Section 
==================================================-->


    <!-- Start: Why CHoos Us Section 
==================================================-->
    <div class="why_choos_section" id="quote">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 why_chs">
                    <div class="base-header">
                        <h3>Why Choose us?</h3>
                    </div>
                    <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_group"></i></span>
                        <h5>Global Chain Solutions</h5>
                        <div class="why_chs_desc">
                            <p>Efficiently unleash cross-mediaing information without cross-media.</p>
                        </div>
                    </div>
                    <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_easel"></i></span>
                        <h5>24 Hrs - Technical Support</h5>
                        <div class="why_chs_desc">
                            <p>Our support staff is available 24/7 to assist you in any way possible.</p>
                        </div>
                    </div>
                    <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_piechart"></i></span>
                        <h5>Shipment Tracking</h5>
                        <div class="why_chs_desc">
                            <p>Real time shipment tracking is coming really soon on our website.</p>
                        </div>
                    </div>
                    {% comment %} <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_datareport"></i></span>
                        <h5>Mobile Shipment Tracking</h5>
                        <div class="why_chs_desc">
                            <p>Efficiently unleash cross-mediaing information without cross-media unleash cross-mediaing</p>
                        </div>
                    </div> {% endcomment %}
                </div>

            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>

    <!-- End: Why CHoos Us Section 
==================================================-->


    <!-- Start: Testimonial Section
==================================================-->
    <div class="testimonials-section" id="testimo">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3>what clients say</h3>
            </div>
            <!-- End:  heading -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Testimonials-->
                    <div class="owl-carousel owl-theme" id="testimonial">
                        <!-- Start: Testimonial 1 -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testimonial_content">
                                    <p>It was a very good working experience working with AK Traders. Their support staff went up and beyond to assist us. </p>
                                </div>
                                <div class="cus-title">
                                    <span class="tes-nam">Wing Chan</span>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class=" icon_star-half_alt"></i>
                                </div>
                            </div>
                            <!--End: Testimonial 1 -->
                        </div>
                        <!-- Start: Testimonial 2 -->
                        <div class="item">
                            <div class="testimonial-box">
                                
                                <div class="testimonial_content">
                                    <p>They provided smart solutions to our problems and helped us source some of the materials we were having difficluty acquiring.</p>
                                </div>
                                <div class="cus-title">
                                    <span class="tes-nam">Chi Lueng</span>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class=" icon_star-half_alt"></i>
                                </div>
                            </div>
                            <!--End: Testimonial 2 -->
                        </div>
                        
                        </div>

                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!-- End: Testimonial Section 
==================================================-->


    <!--   Start: Contact Section  
==================================================-->
    <a id="contact"></a>
    <section class="contact-section" id="contact">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3>contact us</h3>
            </div>
            <!-- End:  heading -->
            <div class="row">
                <!-- Start:  Content  -->
                <div class="inner-contact">
                    <div class="row contact_info">
                        <div class="bottom_contact col-sm-4 col-xs-12"><i class="icon_pin_alt"></i>
                            <p>company name </p>
                            <h4>California, USA</h4>
                        </div>
                        <div class="bottom_contact col-sm-4 col-xs-12"><i class="icon_phone"></i>
                            <p>Toll Free Number</p>
                            <h4>0 (245) 378-6748</h4>
                        </div>
                        <div class="bottom_contact col-sm-4 col-xs-12"><i class="icon_clock_alt"></i>
                            <p>Opening Hours</p>
                            <h4>Mon - Fri 9am - 6 pm</h4>
                        </div>
                    </div>
                    <!-- End:contact-info  -->
                    <div class="row">
                        <!--  Contact Form  -->
                        <div class="contact-form">
                            <form id="contactForm" method="post" name="contactForm">
                            {% csrf_token %}
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <input class="form-control" id="name" name="name" placeholder="Name :" type="text">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <input class="form-control" id="email" name="email" placeholder="Email :" type="text">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <input class="form-control" id="phone" name="phone" placeholder="Number :" type="text">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <textarea class="form-control" id="message" name="message" placeholder="Message :"></textarea>
                                </div>
                                <input class="submit-button btn btn-chos" name="submit" value="Submit" type="submit">
                            </form>
                        </div>
                        <!-- End:Contact Form  -->
                    </div>
                </div>
                <!-- End: inner-contact-->
            </div>
            <!-- End: row-->
        </div>
        <!-- End: container-->
    </section>
    <!-- End:Contact Section 
==================================================-->




{% endblock content %}