{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start: Slides  -->
    <div class="slides_wrapper">
        <div class="slides__preload_wrapper">
            <div class="spinner"></div>
        </div>
        <div class="slider_home">
            <!-- Start: Slider 1  -->
            <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h2><span>We are  </span>AK <br> Traders co.</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed dapibus enim sit amet pellentesque imperdiet nibh tortor fringilla tortor eu sodales leo augue eget justo. </p>
                                    <div class="slider_btn">
                                        <a href="#quote" class="slider_btn_one">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1  -->
            <!-- Start: Slider 2  -->
            <div class="single_slider slide_bg_2">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h2><span>We are  </span>alizah <br> Business co.</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed dapibus enim sit amet pellentesque imperdiet nibh tortor fringilla tortor eu sodales leo augue eget justo. </p>
                                    <div class="slider_btn">
                                        <a href="#quote" class="slider_btn_one">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 2  -->
        </div>
    </div>
    <!-- End:  Slider
==================================================-->



    <!-- Start: About Section 
==================================================-->
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 about_bottom_warp">
                    <div class="about_list">
                        <div class="base-header">
                            <h3>Welcome to Elizah</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed dapibus enim sit amet pellentesque imperdiet nibh tortor fringilla tortor eu sodales leo augue eget justo. Phasellus id lectus id metus ornare sempereget vulputate urnorbi
                            venenatis, ex a sollicitudin semper sed dapibus enim sit amet pellen tesque imperdiet nibh tortor fringilla tortor </p>
                    </div>
                    <div class="row about_list_warp">
                        <div class="col-sm-6 col-xs-12">
                            <!-- about-item -->
                            <div class="about_list">
                                <div class="icon-fea icon_group"></div>
                                <h5>Business Develop</h5>
                                <p class="about_para">Loren ipsum dolor sitamet adipiscing elit sed do eiusmod ameth lectus id metus ornare sempereget </p>
                            </div>
                            <!-- End: .about-item -->
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <!-- about-item -->
                            <div class="about_list">
                                <div class="icon-fea icon_cog"></div>
                                <h5>Creative Work</h5>
                                <p class="about_para">Loren ipsum dolor sitamet adipiscing elit sed do eiusmod ameth lectus id metus ornare sempereget </p>
                            </div>
                            <!-- End: .about-item -->
                        </div>
                    </div>
                </div>
                <!--End: about_bottom_warp -->
                <div class="col-sm-6">
                    <img src="{% static 'images/about.html' %}" alt="">
                </div>
                <!--End: About Video -->
            </div>
            <!--End: row-->
        </div>
        <!-- End: container-->
    </section>
    <!--  End: About Section
==================================================-->



    <!-- Start: Service Section 
==================================================-->
    <section class="service_section" id="agenda">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3> Our Services</h3>
            </div>
            <!-- End:  heading -->
            <div class="row" id="service">
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_1.jpg' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_easel"></i><h5>business growth</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elited hasellus id lectus quis dui euismod con placerat ssa nec elit egestas efficitur </p>
                        <a class="srvic_read" href="services.html">read  more <span class="fa fa-angle-double-right"></span></a>
                    </div>
                </div>
                <!--/Item -->
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_2.jpg' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_piechart"></i><h5>advanced analtic</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elited hasellus id lectus quis dui euismod con placerat ssa nec elit egestas efficitur </p>
                        <a class="srvic_read" href="services.html">read  more <span class="fa fa-angle-double-right"></span></a>
                    </div>
                </div>
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_3.jpg' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_datareport"></i><h5>customer insights</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elited hasellus id lectus quis dui euismod con placerat ssa nec elit egestas efficitur </p>
                        <a class="srvic_read" href="services.html">read  more <span class="fa fa-angle-double-right"></span></a>
                    </div>
                </div>
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_4.html' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_easel"></i><h5>Express Delivery</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elited hasellus id lectus quis dui euismod con placerat ssa nec elit egestas efficitur </p>
                        <a class="srvic_read" href="services.html">read  more <span class="fa fa-angle-double-right"></span></a>
                    </div>
                </div>
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_3.jpg' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_datareport"></i><h5>business growth</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elited hasellus id lectus quis dui euismod con placerat ssa nec elit egestas efficitur </p>
                        <a class="srvic_read" href="services.html">read  more <span class="fa fa-angle-double-right"></span></a>
                    </div>
                </div>
                <div class="service_list">
                    <div class="service_img">
                        <img alt="team" class="img-responsive" src="{% static 'images/service_4.html' %}">
                    </div>
                    <div class="service_para">
                        <a href="#"><i class="icon_piechart"></i><h5>customer insights</h5></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elited hasellus id lectus quis dui euismod con placerat ssa nec elit egestas efficitur </p>
                        <a class="srvic_read" href="services.html">read  more <span class="fa fa-angle-double-right"></span></a>
                    </div>
                </div>
                <!--/Item -->
                <!-- End : Tab pane 1 -->
            </div>
            <!---/.row -->
        </div>
        <!--/.container -->
    </section>
    <!-- End: Service Section 
==================================================-->


    <!-- Start: Why CHoos Us Section 
==================================================-->
    <div class="why_choos_section" id="quote">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 why_chs">
                    <div class="base-header">
                        <h3>Why Choosing us?</h3>
                    </div>
                    <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_group"></i></span>
                        <h5>Global Chain Solutions</h5>
                        <div class="why_chs_desc">
                            <p>Efficiently unleash cross-mediaing information without cross-media unleash cross-mediaing</p>
                        </div>
                    </div>
                    <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_easel"></i></span>
                        <h5>24 Hrs - Technical Support</h5>
                        <div class="why_chs_desc">
                            <p>Efficiently unleash cross-mediaing information without cross-media unleash cross-mediaing</p>
                        </div>
                    </div>
                    <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_piechart"></i></span>
                        <h5>Mobile Shipment Tracking</h5>
                        <div class="why_chs_desc">
                            <p>Efficiently unleash cross-mediaing information without cross-media unleash cross-mediaing</p>
                        </div>
                    </div>
                    <div class="why_chs_box col-sm-6">
                        <span class="why_chs_icon"><i class="icon_datareport"></i></span>
                        <h5>Mobile Shipment Tracking</h5>
                        <div class="why_chs_desc">
                            <p>Efficiently unleash cross-mediaing information without cross-media unleash cross-mediaing</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>

    <!-- End: Why CHoos Us Section 
==================================================-->



    <!--Start: Video Section
=============================================-->
    <section class="video-section" id="video">
        <div class="overlay"></div>
        <div class="container">
            <div class="col-sm-12 col-xs-12">
                <div class="video-container">
                    <a data-backdrop="true" data-target="#video-modal" data-toggle="modal"><span class="play-video"><span class="fa fa-play"></span></span></a>
                </div>
                <!-- VIDEO SOCIALS -->
                <div class="video-content">
                    <h2>Watch our video tutorial</h2>
                </div>
                <!-- END VIDEO SOCIALS -->
            </div>
        </div>
    </section>
    <!-- VIDEO POPUP -->
    <div class="modal fade video-modal" id="video-modal" role="dialog">
        <div class="modal-content">
            <div class="row">
                <iframe allowfullscreen="" height="400" src="https://www.youtube.com/embed/i8leeedH71c" width="712"></iframe>
            </div>
        </div>
    </div>
    <!-- END VIDEO POPUP -->
    <!-- End: VIDEO Section
=============================================-->



    <!-- Start: Facts Section 
==================================================-->
    <div class="confacts-section">
        <div class="container">
            <div class="row">
                <div class="funfact_wapr">
                    <!-- col-lg-4 -->
                    <div class="col-sm-3 col-xs-12">
                        <div class="facts_text">
                            <h3>What Makes <br>us Special ?</h3>
                        </div>
                    </div>
                    <!-- col-lg-4 /- -->
                    <!-- col-lg-4 -->
                    <div class="col-sm-3 col-xs-12">
                        <div class="facts_wrapper">
                            <div class="icon-lay">
                                <i class="icon_genius"></i>
                            </div>
                            <h3 class="stat-count count">275</h3>
                            <h5> Loggs transfered </h5>
                        </div>
                    </div>
                    <!-- col-lg-4 /- -->
                    <!-- col-lg-4 -->
                    <div class="col-sm-3 col-xs-12">
                        <div class="facts_wrapper">
                            <div class="icon-lay">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <h3 class="stat-count count">374</h3>
                            <h5> Happy customers </h5>
                        </div>
                    </div>
                    <!-- col-lg-4 /- -->
                    <!-- col-lg-4 -->
                    <div class="col-sm-3 col-xs-12">
                        <div class="facts_wrapper">
                            <div class="icon-lay">
                                <i class="arrow_move"></i>
                            </div>
                            <h3 class="stat-count count">437</h3>
                            <h5> Miles travelled </h5>
                        </div>
                    </div>
                    <!-- col-lg-4 /- -->
                </div>
                <!-- funfact_wapr /- -->
            </div>
            <!-- row /- -->
        </div>
        <!-- container /- -->
    </div>
    <!-- Start: Facts Section 
==================================================-->



    <!-- Start: Work Section 
==================================================-->
    <section class="work-section">
        <div class="container">
            <div class="row">
                <!-- Start: Heading -->
                <div class="base-header">
                    <h3> Latest project </h3>
                </div>
                <!-- End:  heading -->
                <!-- Start: Work filter -->
                <ul class="projects-titles">
                    <li class="active" data-filter="*"><span>All work</span>
                    </li>
                    <li data-filter=".web"><span>Graphic</span>
                    </li>
                    <li data-filter=".design"><span>Design</span>
                    </li>
                    <li data-filter=".graphics"><span>Apps</span>
                    </li>
                    <li data-filter=".development"><span>Content</span>
                    </li>
                    <li data-filter=".photoshop"><span>Others</span>
                    </li>
                </ul>
                <!-- End: Work filter -->

                <!-- Start: Work Item -->
                <div class="projects-list">
                    <div class="col-sm-3 col-xs-12 web graphics">
                        <div class="single-project-item">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_1.jpg' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 1 -->
                    <div class="col-sm-3 col-xs-12 development photoshop">
                        <div class="single-project-item project-bg-2">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_2.html' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 2 -->
                    <div class="col-sm-3 col-xs-12 web design">
                        <div class="single-project-item project-bg-3">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_3.jpg' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 3 -->
                    <div class="col-sm-3 col-xs-12 design web development">
                        <div class="single-project-item project-bg-4">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_4.jpg' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 4 -->
                    <div class="col-sm-3 col-xs-12 web graphics">
                        <div class="single-project-item project-bg-5">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_5.jpg' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 5 -->
                    <div class="col-sm-3 col-xs-12 design development web">
                        <div class="single-project-item project-bg-6">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_6.jpg' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 6 -->
                    <!-- End: Work Item 6 -->
                    <div class="col-sm-3 col-xs-12 graphics web">
                        <div class="single-project-item project-bg-7">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_7.jpg' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 7 -->
                    <div class="col-sm-3 col-xs-12 photoshop">
                        <div class="single-project-item project-bg-8">
                            <div class="project-hover">
                                <h4><a href="gallery.html">project title</a></h4>
                                <span><a href="single-gallery.html">category</a></span>
                                <a class="project-link" href="{% static 'images/work_8.jpg' %}"><i class="icon_image"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Work Item 8 -->
                </div>
            </div>
        </div>
    </section>
    <!-- End: Work Section 
==================================================-->


    <!-- End: Team Section 
==================================================-->
    <section class="team_section">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3>Meet the team</h3>
            </div>
            <!-- End:  heading -->
            <!-- profile 1-->
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="member_warp">
                        <div class="member_img">
                            <img alt="team" class="img-responsive" src="{% static 'images/team-1.jpg' %}">
                        </div>
                        <div class="member_info">
                            <h6><small>Founder</small>Adam Gilcrist </h6>
                        </div>
                        <div class="team_social">
                            <ul>
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- end profile 1-->

                <!-- profile 2-->
                <div class="col-sm-3 col-xs-12">
                    <div class="member_warp">
                        <div class="member_img">
                            <img alt="team" class="img-responsive" src="{% static 'images/team-2.jpg' %}">
                        </div>
                        <div class="member_info">
                            <h6><small>Co Founder</small>Kristen Crew </h6>
                        </div>
                        <div class="team_social">
                            <ul>
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- end profile 2-->

                <!-- profile 3-->
                <div class="col-sm-3 col-xs-12">
                    <div class="member_warp">
                        <div class="member_img">
                            <img alt="team" class="img-responsive" src="{% static 'images/team-3.html' %}">
                        </div>
                        <div class="member_info">
                            <h6><small>Chairman</small>Robert Doe </h6>
                        </div>
                        <div class="team_social">
                            <ul>
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end profile 3 -->
                <div class="col-sm-3 col-xs-12">
                    <div class="member_warp">
                        <div class="member_img">
                            <img alt="team" class="img-responsive" src="{% static 'images/team-4.jpg' %}">
                        </div>
                        <div class="member_info">
                            <h6><small>Driver</small>Jon Gilcrist </h6>
                        </div>
                        <div class="team_social">
                            <ul>
                                <li>
                                    <a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end profile 1-->
            </div>
            <!---/.row -->
        </div>
        <!--/.container -->
    </section>

    <!-- End: Team Section 
==================================================-->



    <!-- Start: Pricing Section 
==================================================-->
    <section class="pricing-section" id="pricing">
        <!-- container -->
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3>Our Special Plan</h3>
            </div>
            <!-- End:  heading -->
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <!-- Start: pricing-box 1 -->
                    <div class="pricing-box">
                        <div class="pricing_heading">
                            <h4>basic plan</h4>
                            <h2><span>$</span>70<sub>Per Month</sub></h2>

                        </div>
                        <ul>
                            <li>Two men for transport </li>
                            <li>Single covered truck</li>
                            <li>Maximum 100 miles </li>
                            <li>Additional trucks </li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="more-link">Order Now</a>
                        </div>
                    </div>
                    <!-- End: pricing-box 1 -->
                </div>
                <div class="col-sm-4 col-xs-12">
                    <!-- Start: pricing-box 2 -->
                    <div class="pricing-box">
                        <div class="pricing_heading">
                            <h4>standard plan</h4>
                            <h2><span>$</span>40<sub>Per Month</sub></h2>

                        </div>
                        <ul>
                            <li>Two men for transport </li>
                            <li>Single covered truck</li>
                            <li>Maximum 100 miles </li>
                            <li>Additional trucks </li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="more-link">Order Now</a>
                        </div>
                    </div>
                    <!-- End: pricing-box 2 -->
                </div>
                <div class="col-sm-4 col-xs-12 star">
                    <!-- Start: pricing-box 3 -->
                    <div class="pricing-box">
                        <div class="pricing_heading">
                            <h4>premium Plan</h4>
                            <h2><span>$</span>90<sub>Per Month</sub></h2>

                        </div>
                        <ul>
                            <li>Two men for transport </li>
                            <li>Single covered truck</li>
                            <li>Maximum 100 miles </li>
                            <li>Additional trucks </li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="more-link">Order Now</a>
                        </div>
                    </div>
                    <!-- End: pricing-box 3 -->
                </div>
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </section>
    <!--End: Pricing Section 
==================================================-->


    <!--  Start: Blog Section 
==================================================-->
    <section class="blog-section">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3>Latest News </h3>
            </div>
            <!-- End:  heading -->
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="blog-warp-1 blog_warp_lay_1">
                        <div class="blog_imgg">
                            <img src="{% static 'images/blog_1.html' %}" alt="" />
                            <div class="publisd-date"> <i class="arrow_right"></i> </div>
                        </div>
                        <div class="blog_content_warp">
                            <a href="#" class="blog_datee"><i class="fa fa-calendar"></i>  June 24  </a>
                            <a href="#" class="subtext"><i class="fa fa-tag"></i>  Marketing </a>
                            <a href="#" class="subtext"><i class="fa fa-comment-o"> </i> 5 </a>
                            <h5><a href="blog.html">The role of chain tra</a></h5>
                            <p>Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industrydummy </p>
                            <a href="single-blog.html" class="blog_btn">read more<span class="fa fa-angle-double-right"></span></a>
                        </div>
                    </div>
                </div>
                <!--/ Blog Item 1 -->
                <div class="col-sm-4 col-xs-12">
                    <div class="blog-warp-1 blog_warp_lay_1">
                        <div class="blog_imgg">
                            <img src="{% static 'images/blog_2.jpg' %}" alt="" />
                            <div class="publisd-date"> <i class="arrow_right"></i> </div>
                        </div>
                        <div class="blog_content_warp">
                            <a href="#" class="blog_datee"><i class="fa fa-calendar"></i>  June 24  </a>
                            <a href="#" class="subtext"><i class="fa fa-tag"></i>  Marketing </a>
                            <a href="#" class="subtext"><i class="fa fa-comment-o"> </i> 5 </a>
                            <h5><a href="blog.html">The critical role cargo</a></h5>
                            <p>Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industrydummy </p>
                            <a href="single-blog.html" class="blog_btn">read more<span class="fa fa-angle-double-right"></span></a>
                        </div>
                    </div>
                </div>
                <!--/ Blog Item 2 -->
                <div class="col-sm-4 col-xs-12">
                    <div class="blog-warp-1 blog_warp_lay_1">
                        <div class="blog_imgg">
                            <img src="{% static 'images/blog_3.jpg' %}" alt="" />
                            <div class="publisd-date"> <i class="arrow_right"></i> </div>
                        </div>
                        <div class="blog_content_warp">
                            <a href="#" class="blog_datee"><i class="fa fa-calendar"></i>  June 24  </a>
                            <a href="#" class="subtext"><i class="fa fa-tag"></i>  Marketing </a>
                            <a href="#" class="subtext"><i class="fa fa-comment-o"> </i> 5 </a>
                            <h5><a href="blog.html"> The role of cargo co</a></h5>
                            <p>Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industrydummy </p>
                            <a href="single-blog.html" class="blog_btn">read more <span class="fa fa-angle-double-right"></span></a>
                        </div>
                    </div>
                </div>
                <!--/ Blog Item 3 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </section>
    <!--   End: Blog Section  
==================================================-->


    <!-- Start: Testimonial Section
==================================================-->
    <div class="testimonials-section" id="testimo">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3>what client say</h3>
            </div>
            <!-- End:  heading -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Testimonials-->
                    <div class="owl-carousel owl-theme" id="testimonial">
                        <!-- Start: Testimonial 1 -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testi_images">
                                    <img alt="testimonial" src="{% static 'images/tes1.jpg' %}">
                                </div>
                                <div class="testimonial_content">
                                    <p>Lorem ipsum dolor sit ametet verear infor noluisse eumdiam congue refor midans was at atomorum his idpri te hinc expetendasts ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                        et dolore magna Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                </div>
                                <div class="cus-title">
                                    <span class="tes-nam">John Watson</span>
                                    <span class="tes-degree">CEO At Facebook</span>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class=" icon_star-half_alt"></i>
                                </div>
                            </div>
                            <!--End: Testimonial 1 -->
                        </div>
                        <!-- Start: Testimonial 2 -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testi_images">
                                    <img alt="testimonial" src="{% static 'images/tes2.jpg' %}">
                                </div>
                                <div class="testimonial_content">
                                    <p>Lorem ipsum dolor sit ametet verear infor noluisse eumdiam congue refor midans was at atomorum his idpri te hinc expetendasts ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                        et dolore magna Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                </div>
                                <div class="cus-title">
                                    <span class="tes-nam">John Watson</span>
                                    <span class="tes-degree">CEO At Facebook</span>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class=" icon_star-half_alt"></i>
                                </div>
                            </div>
                            <!--End: Testimonial 2 -->
                        </div>
                        <!-- Start: Testimonial 3 -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testi_images">
                                    <img alt="testimonial" src="{% static 'images/tes3.jpg' %}">
                                </div>
                                <div class="testimonial_content">
                                    <p>Lorem ipsum dolor sit ametet verear infor noluisse eumdiam congue refor midans was at atomorum his idpri te hinc expetendasts ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                        et dolore magna Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                                </div>
                                <div class="cus-title">
                                    <span class="tes-nam">John Watson</span>
                                    <span class="tes-degree">CEO At Facebook</span>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class=" icon_star-half_alt"></i>
                                </div>
                            </div>
                            <!--End: Testimonial 3 -->
                        </div>

                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!-- End: Testimonial Section 
==================================================-->

    <!-- Start: Client Section
==================================================-->
    <div class="client-section" id="client-section">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- client list  -->
                <div class="owl-carousel owl-theme col-md-12" id="client">
                    <!-- client 1 -->
                    <div class="item row">
                        <div class="col-md-12">
                            <div class="client-box"><img alt="client" src="{% static 'images/client-1.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <!-- client 2 -->
                    <div class="item row">
                        <div class="col-md-12">
                            <div class="client-box"><img alt="client" src="{% static 'images/client-2.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <!-- client 3 -->
                    <div class="item row">
                        <div class="col-md-12">
                            <div class="client-box"><img alt="client" src="{% static 'images/client-3.html' %}">
                            </div>
                        </div>
                    </div>
                    <!-- client 4 -->
                    <div class="item row">
                        <div class="col-md-12">
                            <div class="client-box"><img alt="client" src="{% static 'images/client-4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <!-- client 5 -->
                    <div class="item row">
                        <div class="col-md-12">
                            <div class="client-box"><img alt="client" src="{% static 'images/client-5.html' %}">
                            </div>
                        </div>
                    </div>
                    <!-- client 6 -->
                    <div class="item row">
                        <div class="col-md-12">
                            <div class="client-box"><img alt="client" src="{% static 'images/client-6.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <!-- client 7 -->
                    <div class="item row">
                        <div class="col-md-12">
                            <div class="client-box"><img alt="client" src="{% static 'images/client-3.html' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ client list  -->
            </div>
            <!--/ row - -->
        </div>
        <!--/ Container - -->
    </div>
    <!--   End:Client Section
==================================================-->

    <!--   Start: Contact Section  
==================================================-->
    <section class="contact-section" id="contact">
        <div class="container">
            <!-- Start: Heading -->
            <div class="base-header">
                <h3>contact us</h3>
            </div>
            <!-- End:  heading -->
            <div class="row">
                <!-- Start:  Content  -->
                <div class="inner-contact">
                    <div class="row contact_info">
                        <div class="bottom_contact col-sm-4 col-xs-12"><i class="icon_pin_alt"></i>
                            <p>company name </p>
                            <h4>California, USA</h4>
                        </div>
                        <div class="bottom_contact col-sm-4 col-xs-12"><i class="icon_phone"></i>
                            <p>Toll Free Number</p>
                            <h4>0 (245) 378-6748</h4>
                        </div>
                        <div class="bottom_contact col-sm-4 col-xs-12"><i class="icon_clock_alt"></i>
                            <p>Opening Hours</p>
                            <h4>Mon - Fri 9am - 6 pm</h4>
                        </div>
                    </div>
                    <!-- End:contact-info  -->
                    <div class="row">
                        <!--  Contact Form  -->
                        <div class="contact-form">
                            <form action="https://santhemes.com/blackgallery/elizah/html/mailer.php" id="contactForm" method="post" name="contactForm">
                                <div class="col-sm-6">
                                    <div class="form-group col-sm-12">
                                        <input class="form-control" id="Name" name="Name" placeholder="Name :" type="text">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <input class="form-control" id="Email" name="Email" placeholder="Email :" type="text">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <input class="form-control" id="Tel" name="Tel" placeholder="Number :" type="text">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <textarea class="form-control" id="Message" name="Message" placeholder="Message :"></textarea>
                                </div>
                                <input class="submit-button btn btn-chos" name="submit" value="Submit" type="submit">
                            </form>
                        </div>
                        <!-- End:Contact Form  -->
                    </div>
                </div>
                <!-- End: inner-contact-->
            </div>
            <!-- End: row-->
        </div>
        <!-- End: container-->
    </section>
    <!-- End:Contact Section 
==================================================-->




{% endblock content %}