{% extends 'base.html' %} {% load static %} {% block navbar %}

<div id="navigation">
  <ul>
    <li><a href="{% url 'home' %}" title="Home">Home</a></li>
    <li><a href="{% url 'home' %}#about">About Us</a></li>
    <li><a href="{% url 'home' %}#agenda">Our Services</a></li>
    <li>
      <a href="{% url 'products' %}" title="Our Products">Our Products</a>
    </li>
    <li><a href="{% url 'home' %}#contact" title="Contact">Contact Us</a></li>
  </ul>
</div>
{% endblock navbar %} {% block content %}
<header id="page-top" class="blog-banner">
  <!-- Start: Header Content -->
  <div class="container" id="blog">
    <div class="row blog-header text-center wow fadeInUp" data-wow-delay="0.5s">
      <div class="col-sm-12">
        <!-- Headline Goes Here -->
        <h4><a href="index.html"> Home </a> / Products</h4>
        <h3>Our Products</h3>
      </div>
    </div>
    <!-- End: .row -->
  </div>
  <!-- End: Header Content -->
</header>
<section class="service_section">
  <div class="container">
    <!-- Start: Heading -->
    <div class="base-header">
      <h3>Our Products</h3>
    </div>
    <!-- End:  heading -->
    <div class="row" id="service">
      {% for obj in obj %}
      <div class="service_list">
        <div class="service_img">
          <img alt="team" class="img-responsive" src="{{ obj.Image }}" />
        </div>
        <div class="service_para">
          <i class="icon_easel"></i>
          <h5>{{obj.Name}}</h5>
          <br />
          <a class="srvic_read" href="{{ obj.get_absolute_url }}"
            >Learn More <span class="fa fa-angle-double-right"></span
          ></a>
        </div>
      </div>
      {% endfor %}
      <!-- End : Tab pane 1 -->
    </div>
    <!---/.row -->
  </div>
  <!--/.container -->
</section>

{% endblock content %}
